# Python Cache
__pycache__/
*.pyc

# Virtual Environment
venv/


# Database
db.sqlite3

# Static files (collected)
/socialNetworkApp/staticfiles/

# Environment variables
.env

# VS Code
.vscode/

# Migrations cache ONLY (not migration scripts!)
core/migrations/__pycache__/

/socialNetworkApp/Static/media/profile_pics/*
