{% extends 'base.html' %}
{% load dict_filters %}

{% block title %}Home - SocialHub{% endblock %}

{% block navbar %}{% include 'navbar.html' %}{% endblock %}

{% block content %}
<div class="row mt-4">
    <div class="col-md-10 col-lg-8 mx-auto">
        {% if object_list %}
            {% for post in object_list %}
                {% include 'post_partial.html' with post=post show_user=show_user user_reactions=user_reactions reaction_choices=reaction_choices %}
            {% endfor %}
            {% include 'pagination.html' %}
        {% else %}
            <div class="alert alert-info text-center">
                <i class="fas fa-pen"></i> No posts yet. Be the first to <a href="{% url 'new_post' %}">create one</a>!
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
