{% extends 'base.html' %}
{% load static %}
{% load dict_filters %}

{% block title %}Profile - SocialHub{% endblock %}

{% block navbar %}{% include 'navbar.html' %}{% endblock %}

{% block content %}
<div class="row mt-4">
    <div class="col-md-4 mb-4">
        <div class="profile-card">
            <img src="{{ request.user.profile_pic.url }}" alt="Profile" class="profile-pic">
            <div class="profile-info">
                <h2 class="profile-name">{{ request.user.first_name }} {{ request.user.last_name }}</h2>
                <p class="profile-username">@{{ request.user.username }}</p>
                <div class="profile-stats">
                    <div class="stat">
                        <div class="stat-number">{{ request.user.get_num_posts }}</div>
                        <div class="stat-label">Posts</div>
                    </div>
                </div>
                <p class="profile-bio">{{ request.user.bio }}</p>
                <a href="{% url 'account_settings' %}" class="btn btn-primary w-100">
                    <i class="fas fa-edit"></i> Edit Profile
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <a href="{% url 'new_post' %}" class="new-post-button">
            <i class="fas fa-pen-fancy"></i> Write a New Post
        </a>
        <div class="posts-container">
            {% if object_list %}
                {% for post in object_list %}
                    {% include 'post_partial.html' with post=post show_user=False user_reactions=user_reactions reaction_choices=reaction_choices %}
                {% endfor %}
                {% include 'pagination.html' %}
            {% else %}
                <div class="alert alert-info text-center">
                    <i class="fas fa-inbox"></i> No posts yet. <a href="{% url 'new_post' %}">Create your first post!</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
